<div class="container">
     <div class="intro-text">
          <h3>DIRECTIONS FOR GAME PLAY:</h3>
          <ol>
               <li>
                    The game is played on a grid that's 3 squares by 3 squares.

               </li>
               <li>
                    You are X , your friend (or the computer in this case) is O . Players take turns putting their marks
                    in
                    empty squares.
               </li>
               <li>
                    The first player to get 3 of her marks in a row (up, down, across, or diagonally) is the winner.

               </li>
               <li>
                    When all 9 squares are full, the game is over. If no player has 3 marks in a row, the game ends in a
                    tie.
               </li>
          </ol>
          <p>
               READY TO GET STARTED?
               <br>
               WE HAVE TWO GAME OPTIONS, ONE WHERE YOU PLAY AGAINST THE COMPUTER OR YOUR FRIEND!
          </p>
     </div>
     <div class="button-group">
          <button (click)=setGameType(true) routerLink="/game">Play Against a Friend</button>
          <button (click)=setGameType(false) routerLink="/game">Play Against a Computer</button>
     </div>
</div>