<app-toast></app-toast>
<div class="board">
     <app-square class="square" id="0,0" (click)="updateModel([0, 0])"></app-square>
     <app-square class="square" id="0,1" (click)="updateModel([0, 1])"></app-square>
     <app-square class="square" id="0,2" (click)="updateModel([0, 2])"></app-square>
     <app-square class="square" id="1,0" (click)="updateModel([1, 0])"></app-square>
     <app-square class="square" id="1,1" (click)="updateModel([1, 1])"></app-square>
     <app-square class="square" id="1,2" (click)="updateModel([1, 2])"></app-square>
     <app-square class="square" id="2,0" (click)="updateModel([2, 0])"></app-square>
     <app-square class="square" id="2,1" (click)="updateModel([2, 1])"></app-square>
     <app-square class="square" id="2,2" (click)="updateModel([2, 2])"></app-square>
</div>

   